{% extends 'account/base.html'%}
{% block title %}
    {{ block.super }} | Signup | Student
{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-7">
            <h3>Signup Student</h3>
            <hr />

            <form action="{% url 'account:student_profile:register'%}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ user_form|crispy }}
                {{ profile_form|crispy }}
                <input type="submit" value="Register" class="btn btn-lg">
            </form>
        </div>
    </div>
</div>

{% endblock %}

    
    
    