{% extends 'account/base.html' %}
{% block title %} 
    {% if object %}
        Delete '{{ object.title }}'
    {% endif%}
{% endblock %}
{% block content%}
<div id="page-wrapper">
    <div class="row">
        <div class="container-fluid">
        <form action="" method="POST">
                {% csrf_token %}
           <h3>Do you really wat to delete "{{ object }}"</h3> 
            <button type="submit">Yes, remove it</button>   
            </form>
        </div>
    </div>
</div>
{% endblock %}